body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f3e9ce;
  }
  
  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-right: 35vw;
    position: relative;
    overflow: hidden;
  }
  
  .login-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 2;
    width: 30vw;
    max-width: 400px;
    min-width: 250px;
  }
  
  .login-box h1 {
    font-size: 3rem;
    color: #12303b;
  }
  
  .input-field {
    padding: 15px;
    font-size: 1rem;
    border: none;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .login-button {
    padding: 15px 25px;
    background-color: #12303b;
    color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    width: 100%;
  }
  
  .signup-text {
    font-size: 1rem;
    text-align: center;
  }
  
  .signup-text a {
    color: #ff5a00;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Cerc portocaliu */
  .circle {
    position: absolute;
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    background-color: #ff5a00;
    top: -20%;
    right: -150px;
    z-index: 0;
    box-shadow: 0 0 10px 35px #ff5a00;
  }
  
  /* Imaginea pisicii */
  .cat-image {
    position: absolute;
    width: 30vw;
    height: auto;
    transform: rotate(-90deg);
    top: 35%;
    right: -2%;
    z-index: 1;
  }
  
  /* Media Queries pentru dispozitive mai mici */
  @media (max-width: 768px) {
    .login-container {
      padding-right: 10vw;
    }
  
    .login-box {
      width: 80vw;
      max-width: 100%;
      min-width: unset;
    }
  
    .login-box h1 {
      font-size: 2.5rem;
    }
  
    .input-field {
      padding: 12px;
    }
  
    .login-button {
      padding: 20px 25px;
      font-size: 1.2rem;
    }
  
    .signup-text {
      font-size: 1rem;
    }
  
    /* Ajustează cercul portocaliu pentru telefoane mici */
    .circle {
      width: 40vw;
      height: 40vw;
      top: -10%;
      right: -80px;
    }
  
    /* Imaginea pisicii în colțul din dreapta jos */
    .cat-image {
      width: 40vw;
      top: auto;
      bottom: 0;
      right: 0;
      transform: rotate(0deg); /* Nici o rotație pe ecrane mici */
    }
  }
  
  @media (max-width: 480px) {
    .login-box {
      width: 82vw;
    }
  
    .login-box h1 {
      font-size: 2rem;
    }
  
    .input-field {
      padding: 10px;
    }
  
    .login-button {
      padding: 15px 20px;
      font-size: 1.1rem;
    }
  
    /* Ajustează cercul portocaliu pentru telefoane foarte mici */
    .circle {
      width: 35vw;
      height: 35vw;
      top: -5%;
      right: -60px;
    }
  
    /* Imaginea pisicii în colțul din dreapta jos pe telefoane mici */
    .cat-image {
      width: 45vw;
      top: auto;
      bottom: 0;
      right: 0;
      transform: rotate(0deg);
    }
  }
  